.medal {
    position: absolute;
    z-index: 800;
    transition: 10s;
}

@media screen and (max-width: 1184px) {
    .medal {
        width: 157px;
    }
}

@media screen and (max-width: 730px) {
    .medal {
        width: 121px;
    }
}

@media screen and (max-width: 320px) {
    .medal {
        width: 90px;
    }
}