.submitForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 27px;

    input {
        width: 480px;
        height: 50px;
        padding-left: 19px;
        margin-bottom: 16px;
        background: #333333;
        border: 2px solid #ffffff;
        font-family: "Oswald";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #ffffff;
    }

    button {
        width: 237px;
        height: 33px;
        transition: 0.2s;
        padding: 0;
        margin-bottom: 16px;
        background: #333333;
        border: 2px solid #ffffff;
        color: white;
        cursor: pointer;

        &:hover {
            background-color: var(--purple);
        }
    }
}

@media screen and (max-width: 1184px) {
    .submitForm {
        input {
            width: 248px;
            height: 31px;
        }

        button {
            width: 147px;
            height: 31px;
        }
    }
}

@media screen and (max-width: 730px) {
    .submitForm {
        width: auto;
        margin-right: 0;
    }
}