.pickup {
    display: flex;
    width: 100%;
    padding: 63px 0 51px 0;
}

.pickupContent {
    display: flex;
    justify-content: space-between;
    width: 988px;
    padding: 62px 60px 0 60px;
    margin: 0 auto;
    border-top: 3px solid #400002;

    p {
        font-weight: 300;
        font-size: 25px;
        line-height: 37px;
        margin-bottom: 29px;
    }

    a {
        font-size: 25px;
    }
}

.addresBlock {
    width: 301px;
    height: 273px;
    border: 2px solid #333333;
}

.adressWrapper {
    padding: 0 20px 0 22px;
    margin-top: -20px;
}

.map {
    width: 663px;
    height: 553px;
    border: none;
}

@media screen and (max-width: 1184px) {
    .pickup {
        padding: 22px 0 10px 0;
    }

    .pickupContent {
        width: 730px;
        padding: 31px 0 10px 0;
    }

    .addresBlock {
        width: 228px;
        height: 207px;
    }

    .adressWrapper {
        p {
            font-size: 20px;
            line-height: 30px;
            margin: 0;
        }

        a {
            font-size: 20px;
            line-height: 30px;
        }

        img {
            display: block;
            background-size: cover;
            width: 24px;
            height: 24px;
        }
    }

    .map {
        width: 420px;
        height: 338px;
    }
}

@media screen and (max-width: 730px) {
    .pickupContent {
        width: 350px;
        flex-direction: column;
        align-items: center;
    }

    .addresBlock {
        margin-bottom: 20px;
    }

    .adressWrapper {
        p {
            margin-bottom: 10px;
        }
    }

    .map {
        width: 350px;
        height: 310px;
    }
}

@media screen and (max-width: 320px) {
    .pickupContent {
        width: 221px;
    }

    .map {
        width: 234px;
    }
}
