.about {
    display: flex;
    padding-top: 40px;
    width: 100%;
    color: var(--dark-blue);

    span {
        color: var(--purple);
    }
}

%text-style {
    font-weight: 500;
    font-size: 30px;
    line-height: 44px;
    margin-bottom: 24px;
}

.aboutContent {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1182px;
}

.aboutDesct {
    @extend %text-style;
}

.paymentDescr {
    @extend %text-style;
    text-align: center;
    margin: 0;
}

.prepayment {
    @extend %text-style;
    font-weight: 300;
    text-align: center;
}

.aboutItem {
    margin-bottom: 24px;
}

.textWrapper {
    padding: 15px 38px 0 49px;
    border: 2px solid #333333;
}

%medals-block {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1074px;
}

.medalsBlock1 {
    @extend %medals-block;
    margin-top: -311px;
}

@media screen and (max-width: 375px) {
    .aboutContent {
        width: 221px;

        p {
            font-size: 15px;
            line-height: 22px;
        }
    }

    .textWrapper {
        padding: 9px 6px 13px 18px;
    }

    .prepayment {
        margin: 0;
    }
}
