.about {
    display: flex;
    padding-top: 40px;
    width: 100%;
    color: var(--dark-blue);

    span {
        color: var(--purple);
    }
}

%text-style {
    font-weight: 500;
    font-size: 30px;
    line-height: 44px;
    margin-bottom: 24px;
}

.aboutContent {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1182px;

    .aboutItem {
        &:nth-child(2) {
            padding-bottom: 10px;
        }
    }
}

.aboutDesct {
    @extend %text-style;
}

.paymentDescr {
    @extend %text-style;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
}

.prepayment {
    @extend %text-style;
    font-weight: 300;
    text-align: center;
}

.aboutItem {
    margin-bottom: 24px;
}

.textWrapper {
    padding: 15px 38px 0 49px;
    border: 2px solid #333333;
}

.checkBlock {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 34px;
        margin-right: 10px;
        margin-top: -6px;
    }
}

%medals-block {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1074px;
}

.medalsBlock1 {
    @extend %medals-block;
    margin-top: -311px;
}

@media screen and (max-width: 1184px) {
    .aboutContent {
        width: 730px;

        p {
            font-size: 20px;
            line-height: 30px;
        }
    }
}

@media screen and (max-width: 730px) {
    .aboutContent {
        width: 350px;
    }

    .textWrapper {
        padding: 15px 15px 0 14px;
    }
}

@media screen and (max-width: 320px) {
    .aboutContent {
        width: 221px;

        p {
            font-size: 15px;
            line-height: 22px;
        }
    }

    .textWrapper {
        padding: 9px 15px 13px 18px;
    }

    .prepayment {
        margin: 0;
    }
}
