.requestBtn {
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 1000;
    right: 193px;
    top: 206.75px;
    transition: 0.2s;
    opacity: 0;
    cursor: pointer;

    &:hover {
        transform: translateY(2px)
    }

    &:active {
        transform: translateY(5px);
    }
}

.active {
    opacity: 1;
}