.requestBtn {
    position: fixed;
    z-index: 5000;
    display: flex;
    align-items: center;
    right: 193px;
    top: 206.75px;
    transition: 0.2s;
    opacity: 0;
    cursor: pointer;

    &:hover {
        transform: translateY(2px);
    }

    &:active {
        transform: translateY(5px);
    }
}

.active {
    opacity: 1;
}

@media screen and (max-width: 1184px) {
    .requestBtn {
        background-size: cover;
        width: 97px;
        height: 70px;
        right: 39px;
        top: 178px;
    }
}

@media screen and (max-width: 730px) {
    .requestBtn {
        top: 152px;
        right: 8px;
        width: 77px;
        height: 56px;
    }
}

// @media screen and (max-width: 320px) {
//     .requestBtn {
//         right: 34px;
//         top: 68px;
//         width: 26px;
//         height: 19px;
//     }
// }
