.formWrapper {
    display: flex;
    width: 100%;
    height: 282px;
    background-image: url("../../../images/laser.jpg");
    background-size: cover;
}

.formContent {
    display: flex;
    justify-content: flex-end;
    width: 1052px;
    margin: 0 auto;
    margin-top: 33px;
}

.descrBlock {
    color: white;
    text-align: end;

    h2 {
        font-weight: 600;
        font-size: 40px;
        line-height: 59px;
    }

    p {
        font-weight: 300;
        font-size: 25px;
        line-height: 37px;
    }
}

@media screen and (max-width: 1184px) {
    .formWrapper {
        height: 234px;
    }

    .formContent {
        width: 730px;
    }

    .descrBlock {
        h2 {
            font-size: 25px;
            line-height: 110.2%;
            margin-bottom: 10px;
        }

        p {
            font-size: 15px;
            line-height: 22px;
        }
    }
}

@media screen and (max-width: 730px) {
    .formWrapper {
        height: auto;
        background-position: -8rem;
    }

    .formContent {
        flex-direction: column-reverse;
        align-items: center;
        width: 350px;
    }

    .descrBlock {
        text-align: center;

        br {
            display: none;
        }

        p {
            margin-bottom: 15px;
        }
    }
}
