.works {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 66px 0 142px 0;
}

.worksContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 3px solid var(--purple);
    padding-top: 71px;
    width: 1095px;
    height: 775px;
}

.worksItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.workItem {
    width: 349px;
    height: 316px;
    margin-bottom: 23px;
}