.works {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 66px 0 67px 0;
}

.worksContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 3px solid var(--purple);
    padding-top: 71px;
    width: 1182px;
    height: 775px;
}

%img-width {
    width: 445px;
}

.worksItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    img {
        position: relative;
        z-index: 1000;

        &:nth-child(2) {
            @extend %img-width;
        }

        &:nth-child(5) {
            @extend %img-width;
        }
    }
}

.workItem {
    width: 349px;
    height: 316px;
    margin-bottom: 23px;
    border: 3px solid var(--gray);
}

@media screen and (max-width: 1184px) {
    .works {
        padding: 20px 0 41px 0;
    }

    .worksContent {
        width: 730px;
        height: auto;
    }

    %img-medium {
        width: 307px;
        height: 266px;
    }

    .worksItems {
        width: 651px;

        img {
            @extend %img-medium;

            &:nth-child(2) {
                @extend %img-medium;
            }

            &:nth-child(5) {
                @extend %img-medium;
            }
        }
    }
}

@media screen and (max-width: 730px) {
    .worksContent {
        width: 350px;
        padding-top: 25px;
    }

    %proportions {
        width: 160px;
        height: 145px;
        margin-right: 18px;
    }

    .worksItems {
        flex-wrap: inherit;
        overflow: auto;
        width: 100vw;

        img {
            @extend %proportions;

            &:nth-child(2) {
                @extend %proportions;
            }

            &:nth-child(5) {
                @extend %proportions;
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .worksContent {
        width: 221px;
    }
}
