.works {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 66px 0 67px 0;
}

.worksContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 3px solid var(--purple);
    padding-top: 71px;
    width: 1182px;
    height: 775px;
}

%img-width {
    width: 445px;
}

.worksItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    img {
        position: relative;
        z-index: 1000;

        &:nth-child(2) {
            @extend %img-width;
        }

        &:nth-child(5) {
            @extend %img-width;
        }
    }
}

.workItem {
    width: 349px;
    height: 316px;
    margin-bottom: 23px;
    border: 3px solid var(--gray);
}