.home {
    padding-top: 119px;
}

@media screen and (max-width: 1184px) {
    .home {
        padding-top: 93px;
    }
}

@media screen and (max-width: 375px) {
    .home {
        padding-top: 49px;
    }
}