.footer {
    width: 100%;
    height: 253px;
    background: linear-gradient(180deg, rgba(103, 5, 34, 0.2) 27.9%, rgba(0, 0, 0, 0) 100%), #c8a183;
    padding-top: 37px;
    color: var(--dark-blue);
}

.footerContent {
    display: flex;
    justify-content: space-between;
    width: 1191px;
    margin: 0 auto;
}

.contentItem {
    display: flex;
    flex-direction: column;

    h3 {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 21px;
    }
}

.address {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-top: 10px;
}

.navLink {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 21px;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
        color: var(--purple);
    }
}

.payment {
    display: flex;
    flex-direction: column;
    margin-top: -13px;

    img {
        position: relative;

        &:nth-child(1) {
            margin-bottom: 10px;
        }

        &:nth-child(2) {
            margin-bottom: 6px;
            left: -7px;
        }

        &:nth-child(3) {
            right: 12px;
        }
    }
}

.copyright {
    display: flex;
    justify-content: flex-end;
    width: 1190px;
    margin: 0 auto;

    p {
        font-size: 14px;
        color: #2d2d2d;

        &:nth-child(1) {
            margin-right: 437px;
        }
    }
}

.linksStyle {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-top: 13px;
    width: 226px;
    color: #2d2d2d;
}

.active {
    color: var(--purple);
}
