footer {
    width: 100%;
    height: 253px;
    background: linear-gradient(180deg, rgba(103, 5, 34, 0.2) 27.9%, rgba(0, 0, 0, 0) 100%), #c8a183;
    padding-top: 37px;
    color: var(--dark-blue);
}

.footerContent {
    display: flex;
    justify-content: space-between;
    width: 1191px;
    margin: 0 auto;
}

.contentItem {
    display: flex;
    flex-direction: column;

    h3 {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 21px;
    }
}

.address {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-top: 10px;
}

.navLink {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 21px;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
        color: var(--purple);
    }
}

.payment {
    display: flex;
    flex-direction: column;
    margin-top: -13px;

    img {
        position: relative;

        &:nth-child(1) {
            margin-bottom: 10px;
        }

        &:nth-child(2) {
            margin-bottom: 6px;
            left: -7px;
        }

        &:nth-child(3) {
            right: 12px;
        }
    }
}

.copyright {
    display: flex;
    justify-content: flex-end;
    width: 1190px;
    margin: 0 auto;

    p {
        font-size: 14px;
        color: #2d2d2d;

        &:nth-child(1) {
            margin-right: 437px;
        }
    }
}

.linksStyle {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-top: 13px;
    width: 226px;
    color: #2d2d2d;

    a {
        transition: 0.3s;

        &:hover {
            transform: translateY(2px);
        }

        &:active {
            transform: translateY(5px);
        }
    }
}

.active {
    color: var(--purple);
}

@media screen and (max-width: 1184px) {
    footer {
        padding-bottom: 83px;
    }

    .footerContent {
        width: 730px;
        margin-bottom: 84px;
    }

    .contentItem {
        h3 {
            margin-bottom: 21px;
        }

        p {
            font-size: 18px;
            line-height: 27px;
        }
    }

    .copyright {
        width: 730px;
    }
}

@media screen and (max-width: 730px) {
    footer {
        height: auto;
        padding-bottom: 10px;
    }

    .footerContent {
        flex-direction: column;
        width: 224px;
        text-align: center;
    }

    .contentItem {
        h3 {
            font-size: 18px;
            line-height: 27px;
        }

        p {
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;
        }
    }

    .telWrapper {
        width: 200px;
        margin: 0 auto;

        img {
            position: relative;
            top: 4px;
            display: block;
            background-size: cover;
            width: 24px;
            height: 24px;
        }
    }

    .payment {
        position: relative;
        top: 11px;
        left: 4px;
        flex-direction: row;
        justify-content: center;

        img {
            &:nth-child(1) {
                width: 113px;
                height: 32px;
                margin-bottom: 22px;
            }

            &:nth-child(2) {
                width: 113px;
                height: 35px;
                margin-bottom: 22px;
            }

            &:nth-child(3) {
                position: relative;
                left: 0px;
                width: 82px;
                height: 50px;
                margin-bottom: 22px;
            }
        }
    }

    .linksStyle {
        width: 171px;
        margin: 0 auto;
        margin-top: 10px;

        p {
            display: block;
        }

        img {
            width: 30px;
            height: 30px;

            &:hover {
                transform: translateY(2px);
            }

            &:active {
                transform: translateY(5px);
            }
        }

        a {
            &:nth-child(2) {
                img {
                    width: 30px;
                    height: 31px;
                }
            }

            &:nth-child(3) {
                img {
                    width: 31px;
                    height: 31px;
                }
            }
        }
    }

    .copyright {
        justify-content: space-between;
        width: 287px;

        p {
            &:nth-child(1) {
                margin: 0;
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .payment {
        align-items: center;
        flex-direction: column;
    }
}
