.telBlock {
    display: flex;
    justify-content: space-between;
    width: 229px;
    color: var(--dark-blue);

    a {
        font-weight: 400;
        font-size: 25px;
        line-height: 30px;
        transition: 0.2s;

        &:hover {
            color: var(--purple);
        }
    }
}

@media screen and (max-width: 1184px) {
    .telBlock {
        align-items: center;
        justify-content: flex-start;

        img {
            width: 21px;
            height: 21px;
            margin-right: 10px;
        }
    }
}

@media screen and (max-width: 375px) {
    .telBlock {
        width: auto;

        img {
            display: none;
        }
    }
}
