.linkBlock {
    display: flex;
    justify-content: space-between;

    a {
        &:hover {
            transform: translateY(2px)
        }

        &:active {
            transform: translateY(5px);
        }
    }
}

.active {
    color: var(--purple);
}