.linkBlock {
    display: flex;
    justify-content: space-between;

    a {
        &:hover {
            transform: translateY(2px);
        }

        &:active {
            transform: translateY(5px);
        }
    }
}

.active {
    color: var(--purple);
}

@media screen and (max-width: 730px) {
    .linkBlock {
        p {
            display: none;
        }

        img {
            width: 30px;
            height: 30px;
        }
    }
}

@media screen and (max-width: 320px) {
    .linkBlock {

        img {
            width: 27px;
            height: 27px;
        }
    }
}
