.productCard {
    display: flex;
    width: 100%;
    min-height: 100vh;
    padding-top: 99px;
}

.productCardWrapper {
    display: flex;
    width: 1400px;
    margin: 0 auto;
    margin-top: 95px;
}

.productCardContent {
    display: flex;
    justify-content: space-between;
    width: 1113px;
    margin-left: 13px;
}

@media screen and (max-width: 1184px) {

    .productCardWrapper {
        width: 730px;
        justify-content: center;
        margin-top: 69px;
        margin-bottom: 52px;
    }

    .productCardContent {
        flex-direction: column;
        width: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 730px) {
    .productCardWrapper {
        width: 350px;
        margin-top: 21px;
    }
}

@media screen and (max-width: 320px) {
    .productCardWrapper {
        width: 245px;
    }

    .productCardContent {
        align-items: center;
    }
}