.reviews {
    display: flex;
    width: 100%;
}

.reviewsContent {
    display: flex;
    flex-direction: column;
    width: 1182px;
    margin: 0 auto;
    padding-top: 71px;
    border-top: 3px solid #400002;
}

.reviewsItems {
    display: flex;
    justify-content: space-between;
    width: 100%;

    img {
        position: relative;
        z-index: 1000;

        &:nth-child(1) {
            width: 399px;
            height: 337px;
        }

        &:nth-child(2) {
            width: 304px;
            height: 392px;
        }

        &:nth-child(3) {
            width: 399px;
            height: 341px;
        }
    }
}

@media screen and (max-width: 1184px) {
    .reviewsContent {
        width: 730px;
        padding-top: 26px;
    }

    .reviewsItems {
        flex-direction: column;
        align-items: center;

        img {
            margin-bottom: 20px;

            &:nth-child(1) {
                width: 303px;
                height: 257px;
            }

            &:nth-child(3) {
                width: 303px;
                height: 257px;
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .reviewsContent {
        width: 221px;
    }

    .reviewsItems {
        img {
            margin-bottom: 10px;

            &:nth-child(1) {
                width: 221px;
                height: 186px;
            }

            &:nth-child(2) {
                width: 221px;
                height: 284px;
            }

            &:nth-child(3) {
                width: 221px;
                height: 187px;
            }
        }
    }
}
