.catalog {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.catalogContent {
    display: flex;
    justify-content: space-between;
    width: 1400px;
    margin: 0 auto;
    margin-top: 194px;
    margin-bottom: 50px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    width: 1083px;
    margin-left: 32px;
}

.empty {
    text-align: center;
    margin-left: 185px;
    font-weight: 400;
    font-size: 50px;
    line-height: 74px;
    color: var(--dark-blue);
}

@media screen and (max-width: 1184px) {
    .catalogContent {
        width: 730px;
    }

    .products {
        width: 100%;
        margin: 0;
        justify-content: center;
    }

    .empty {
        margin: 0;
    }
}

@media screen and (max-width: 730px) {
    .catalogContent {
        width: 350px;
        margin-top: 127px;
    }

    .empty {
        font-size: 33px;
        line-height: 49px;
    }
}

@media screen and (max-width: 320px) {
    .catalogContent {
        width: 245px;
    }
}