.catalog {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 99px 0 99px 0;
}

.catalogContent {
    display: flex;
    justify-content: space-between;
    width: 1386px;
    margin: 0 auto;
}

.products {
    display: flex;
    flex-wrap: wrap;
    width: 1083px;
    margin-left: 32px;
}

.empty {
    text-align: center;
    margin-left: 185px;
    font-weight: 400;
    font-size: 50px;
    line-height: 74px;
    color: var(--dark-blue);
}